{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
    body{
        background: url('/static/images/home.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-6 col-md-5 my-auto">
                <h1 class="display-4 text-black">
                    Welcome to Online Bookstore
                </h1>
                <div class="my-5 shop-btn">
                    <h3>
                        <a href="{% url 'products_page'%}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now!
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}