{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row rounded p-2 checkout-header">
            <div class="col">
               <h2 class="text-uppercase mb-2">
                Thank You
               </h2>
            </div>
            <hr>
        </div>
        <p class="text-black mt-5">Your order has been paid successfully. A confirmation email will be sent to
            <strong>{{ order.email_address }}</strong></p>
        <div class="row">
            <div class="col-12 col-lg">

            </div>
        </div>
    </div>
{% endblock %}
