{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            {% if basket_items %}
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="table-responsive rounded"></div>
                </div>
            {% else %}
                <div class="col">
                    <h3 class="lead mb-3 text-center">Your cart is empty</h3>
                    <a href="#" class="btn btn-outline-black rounded-0 btn-lg nav-link">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Continue Shopping</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}