{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2 basket-container">
        <div class="row">
            {% if basket_items %}
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <p class="basket-page_top_notice">
                        You have {{ product_count }} items in your Basket
                    </p>
                    {% if total > 15 %}
                    <p class="basket-page_delivery-info text-left">
                        Free delivery to Ireland & UK on orders.
                    </p>
                    {% endif %}
                    <div class="basket-page_list-item">
                        <div class="basket-page_hearder-bar">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="header-title">Item</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="header-title text-center">Quantity</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="header-title text-center">Item Price</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="header-title text-center">Total Price</div>
                                </div>
                            </div>
                        </div>
                        <div class="purchase-item">
                            {% for item in basket_items %}
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="btn-flex purchase-item_container">
                                        <div class="basket-page_img-container">
                                            {% if item.product.image %}
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name}}">
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}book-no-image.gif" alt="{{ product.name}}">
                                            {% endif %}
                                        </div>
                                        <div class="purchase-item-description">
                                            <div class="font-weight-bold text-uppercase break-world mb-2">
                                                {{ item.product.name }}
                                            </div>
                                            <div class="small mb-2">by {{ item.product.author }}</div>
                                            <div class="home-delivery">
                                                <i class="fas fa-check small"> Home Delivery</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {% include "basket/quantity_form.html" %}
                                </div>
                                <div class="col-sm-2">
                                    <div class="basket-page_price text-center font-weight-bold">
                                        $ {{ item.product.price }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="basket-page_price text-center font-weight-bold">
                                        $ {{ item.product.price | calc_subtotal:item.quantity }} 
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="basket-page_order-summary">
                        <div class="order-summary-header">
                            <h6 class="order-summary-header-text"> Order Summary</h6>
                        </div>
                        <div class="order-summary-body">
                            {% if free_delivery_delta > 0 %}
                            <div class="small">
                                <p>
                                    Add $ {{ free_delivery_delta }} of 
                                    items to qualify for <strong>FREE</strong> 
                                    delivery to Ireland and the UK.
                                </p>
                            </div>
                            <hr>
                            <div class="order-summary-body-prices small">
                                <div class="order-summary-body-price delivery-cost font-weight-bold">
                                    <p>Est. Delivery</p>
                                    <p>$ {{ delivery }} </p>
                                </div>
                                <div class="order-summary-body-price vat font-weight-bold">
                                    <p>VAT</p>
                                    <p>0</p>
                                </div>
                                <div class="order-summary-body-price subtotal font-weight-bold">
                                    <p>Subtotal</p>
                                    <p>$ {{ total|floatformat:2 }} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="grandtotal">
                                <span class="est-total__value pull-right font-weight-bold">$ {{ grand_total|floatformat:2 }}</span>
                                <span>Est. Total</span>
                            </div>                          
                            {% else %}
                            <div class="small">
                                <p>
                                    Your order qualifies for FREE Delivery in IRL & UK.
                                </p>
                            </div>
                            <hr>
                            <div class="order-summary-body-prices small">
                                <div class="order-summary-body-price delivery-cost font-weight-bold">
                                    <p>Est. Delivery</p>
                                    <p>$ {{ delivery }} </p>
                                </div>
                                <div class="order-summary-body-price vat font-weight-bold">
                                    <p>VAT</p>
                                    <p>0</p>
                                </div>
                                <div class="order-summary-body-price subtotal font-weight-bold">
                                    <p>Subtotal</p>
                                    <p>$ {{ total|floatformat:2 }} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="grandtotal">
                                <span class="est-total__value pull-right font-weight-bold">$ {{ grand_total|floatformat:2 }}</span>
                                <span>Est. Total</span>
                            </div> 
                            {% endif %}
                        </div>
                        <hr>
                        <a href="{% url 'checkout' %}" class="btn btn-success rounded btn-lg d-block">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>  
                <div class="payment-options col mt-4 text-center">
                    <img src="{{ MEDIA_URL }}payment-icons.webp" class="img-responsive">
                </div>       
            {% else %}
                <div class="col">
                    <h3 class="lead mb-3 text-center">Your cart is empty</h3>
                    <a href="{% url 'products_page' %}" class="btn btn-outline-black rounded-0 btn-lg nav-link">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Continue Shopping</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
    
    
{% block postloadjs %}
{{ block.super }}
<script>

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })  
</script>




{% endblock %}