{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container online-bookstore-container">
        <div class="row rounded p-2">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="text-uppercase mb-2 text-muted">
                Product Management
               </h2>
               <hr>
               <h5 class="text-muted">
                Edit a Product:
               </h5>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form action="{% url 'edit_product' product.pid %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <button class="btn btn-success rounded" type="submit">Update Product</button>
                        <a href="{% url 'products_page' %}" class="btn btn-outline-dark rounded">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}