{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/products">All Categories</a></li>
        <li class="breadcrumb-item">{{ product.category.friendly_name }}</li>
        <li class="breadcrumb-item active" aria-current="page">Product Details</li>
        </ol>
    </nav>
    <div class="container-fluid product-page mt-4">
        <div class="row clearfix">
            <div class="col-8">
                <div class="product-detail">
                    <div class="row clearfix">
                        <div class="col-5 img-container">
                            {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img src="{{ product.image.url }}" alt="{{ product.name}}" class="img-fluid">
                            </a>
                            {% else %}
                            <a href="">
                                <img src="{{ MEDIA_URL }}book-no-image.gif" alt="{{ product.name}}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <div class="product-content">
                                <h2 class="text-uppercase">{{ product.name }}</h2>
                                <div class="author mb-2">
                                    by <span class="font-weight-bold"> {{ product.author }} </span>
                                </div>
                                {% if product.category %}
                                <div class="category mb-2">
                                    <span class="d-block mb-2">Categories:</span>
                                    <a href="{% url 'products_page' %}" class="text-underline font-weight-bold">{{ product.category.friendly_name }}</a>
                                </div>
                                {% endif %}
                                <div class="description">
                                    <div class="more">
                                        <p>
                                            {{ product.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 shopping-bag">
                <div class="shopping-bag-container">
                    <div class="pt-4 delivery-info mb-3">
                        <div class="stock mb-2">
                            <span class="font-weight-bold"><i class="fas fa-check mb-2"></i> In Stock Online</span>
                            <br>
                            <span class="font-weight-bold"><i class="fas fa-check"></i> Delivery in 2-3 working days</span>
                        </div>
                    </div>
                    <div class="price">
                        <h4 class="lead font-weight-bold ml-4">$ {{ product.price}}</h4>
                    </div>

                    <!-- add to bag button -->
                    <form action="{% url 'add_to_basket' product.pid %}" method="post" class="form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <input type="hidden" name="pid[]" value="{{ product.pid }}">
                                <p class="lead ml-4 font-weight-bold">Quantity:</p>
                                <div class="row ml-4 mb-4">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.pid }} product-detail-qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.pid }}" id="quantity">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-black rounded text-uppercase col-6 ml-4 mb-4" value="Add to Basket">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-options text-center mt-4">
        <img src="{% static '/images/payment-icons.webp'%}" class="img-responsive">
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% endblock %}

