{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        .pagnition {
            display: block;
            position: relative !important;
            bottom: 150px;
            left: 50%;
        }
    </style>
{% endblock %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="list-model">
            <div class="list-title">
                <p> Showing results for: <span class="lead font-weight-bold">{{ search_term }}</span> </p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-horizontal-sm row row-cols-sm-2 row-cols-md-4">
                {% if products.count == 0 %}
                    <p class="text-center font-weight-bold">Sorry, no results!</p>
                {% endif %}
                {% for book in products %}
                <li class="card border-0 d-flex flex-column justify-content-between item">
                    <h6 class="text-center"><a href="{% url 'product_detail' %}?pid={{ book.pid }}" class="nav-link">{{ book.name }}</a></h6>
                    {% if book.image %}
                    <a href="{% url 'product_detail' %}?pid={{ book.pid }}" class="d-block d-flex justify-content-center align-items-center">
                        <img src="{{ book.image.url }}" class="img-thumbnail product-image" alt=" {{ book.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}book-no-image.gif" alt="{{ book.name}}">
                    </a>
                    {% endif %}
                    <div class="price text-center"> $ {{ book.price }} </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if products.count %}
    <div class="payment-options text-center mt-4">
        <img src="{{ MEDIA_URL }}payment-icons.webp" class="img-responsive">
    </div>
    {% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        $('#sort-selector').change(function () {
            let selector = $(this);
            let url = new URL(window.location)

            let selected = selector.val();
            if (selected != 'reset') {
                let sort = selected.split('_')[0]
                let direction = selected.split('_')[1];

                url.searchParams.set('sort', sort);
                url.searchParams.set('direction', direction);

                window.location.replace(url);
            } else {
                url.searchParams.delete('sort');
                url.searchParams.delete('direction');
                window.location.replace(url);
            }
        })
    </script>
{% endblock %}